/*-- Basic Items --*/
:root {
	--color-beige: #f3f2e5;
	--color-primary: #0f2b54;
	--color-primary-lowOpacity: #164080;
	--color-secondary: #0f5450;
	--color-yellow: #e7da82;
	--color-bodyText: #152f2d;
	--color-pink: #ff686b;
	--color-footer: #0d242d;
	--font-body-text: 1.25em;
	--positive-feedback-bg: rgba(15, 84, 80, 0.1);
	--constructive-feedback-bg: rgba(231, 218, 130, 0.3);
	--lh: 1.5rem;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--color-beige, #f3f2e5);
	font-family: 'Nunito', sans-serif;
	font-size: 100%;
	color: var(--color-bodyText, #152f2d);
	margin: 0;
	width: 100%;
	line-height: calc(var(--lh) * 1.5);
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Secular One', sans-serif;
	margin: 0;
}

h1 {
	font-size: 2.5em;
}
h2 {
	font-size: 1.8em;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.25em;
}
h5 {
	font-size: 0.8em;
}

a {
	color: var(--color-primary);
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: var(--color-pink);
	text-decoration: none;
}

img {
	width: 100%;
}

h2 {
	margin: 1em 0;
}
h3 {
	line-height: calc(var(--lh) * 1.25);
}

.d-block {
	display: block;
}
.d-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.button {
	border-radius: 10px;
	background-color: var(--color-primary);
	color: var(--color-beige);
	text-align: center;
	padding: 0.5em 1em;
	transition: 0.2s opacity;
}
.button:hover {
	opacity: 0.8;
	background-color: var(--color-primary-lowOpacity);
}

.button > a {
	color: var(--color-beige);
}

.m-auto {
	margin: 0 auto;
}

p {
	font-size: 1.25em;
	line-height: calc(var(--font-body-text) * 1.25);
}

.truncate-overflow {
	display: -webkit-box;
	max-width: 400px;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

/*-- Header --*/

header {
	display: flex;
	margin: 0 auto;
	padding: 2em;
	position: relative;
}

header > svg {
	width: 60px;
	height: 60px;
}

header .logo-col,
header .nav-col {
	width: 50%;
}
header .nav-col li:not(:first-child) {
  display: none;
}

header .logo-cont {
	width: 60px;
}

header > .logo-cont > .logo {
	width: 60px;
	height: 60px;
}

header > nav {
	text-align: right;
}

header > nav > ul {
	list-style: none;
}

header > nav > ul > li.bordersIn {
	display: inline-block;
	margin-right: 1em;
}

header > nav > ul > li.bordersIn > a {
	display: inline-block;
	margin-right: 1em;
	color: var(--color-bodyText, #152f2d);
	text-decoration: none;
	cursor: pointer;
	position: relative;
  z-index: 0;
}


header > nav > ul > li.bordersIn > a:before,
header > nav > ul > li.bordersIn > a:after{
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #152F2D;
	content: "";
	opacity: 0;
	transition: all 0.3s;
}
header > nav > ul > li.bordersIn > a:before{
	top: 0;
	transform: translateY(-10px);
}
header > nav > ul > li.bordersIn > a:after{
	bottom: 0;
	transform: translateY(10px);
}

header > nav > ul > li.bordersIn > a:hover:before, 
header > nav > ul > li.bordersIn > a:hover:after {
	display: inline-block;
	margin-right: 1em;
	text-decoration: none;
	opacity: 1;
	transform: translateY(0px);
}

/*-- Mobile Nav --*/
header.navtoggle.responsive{
	background-color: var(--color-yellow);
}
header.navtoggle.responsive ul{
	margin: 0;
}
header.navtoggle.responsive li  {
  display: block;
}
header.navtoggle.responsive nav {
  padding: 0 0 0;
}
header.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
}
header.navtoggle.responsive li:first-child  {
  padding: 0 0 10px;
}
header.navtoggle.responsive .logo-col{
	opacity: 0;
}
header.navtoggle.responsive > nav > ul > li.bordersIn > a:hover,
header.navtoggle.responsive > nav > ul > li.bordersIn > a:active{
	color: var(--color-pink);
}


/*-- /Header --*/
/*-- Main --*/
main {
	margin: auto;
	padding: 1em;
}
main .logo .screen-reader-only {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

main .work-item .text-col {
	padding: 0 0 2em 0;
}

main .work-item .svg-image-cont{
	width: 100%;
	max-width: 100%;
	height: auto:
}



/*-- Footer --*/
footer {
	padding: 2em;
	background-color: var(--color-footer);
	color: var(--color-beige);
	text-align: center;
}
footer .text-cont {
	margin: 0 auto;
	padding: 1em 0;
}

footer a {
	color: var(--color-beige);
}

footer .copyright-text {
	color: var(--color-pink);
	font-size: 0.8em;
}

footer .social-media-link {
	margin-right: 1em;
}

/*-- About page --*/
.about-cont {
	margin-top: 3em;
}
.about-cont .resume-btn {
	background-color: var(--color-primary);
	border-radius: 5px;
	padding: 1em;
	text-align: center;
	margin-top: 0.5em;
}
.about-cont .resume-btn a {
	color: var(--color-beige);
}
.about-col {
	padding-right: 2em;
}
.about-col ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
}
.about-col li {
	padding: 0 1em 0.5em 0;
}

/*-- Projects page --*/
.project-cont {
	padding-top: 2em;
}
.project-cont > .col {
	width: 100%;
}
.project-cont p {
	font-size: var(--font-body-text);
	line-height: calc(var(--font-body-text) * 1.5);
}
.project-cont .item {
	padding-right: 1em;
}
.project-cont .row {
	padding-top: 2em;
}
.project-cont .row-2 {
	padding-top: 0.5em;
}
.project-cont .feedback {
	border-radius: 10px;
	margin: 1em 1em 0 0;
	padding: 1em;
}
.project-cont .positive {
	background-color: var(--positive-feedback-bg);
}
.project-cont .constructive {
	background-color: var(--constructive-feedback-bg);
}
.thank-you {
	margin: 3em auto;
}
.secondary {
	background-color: var(--color-secondary);
}
.end {
	margin-bottom: 3em;
}

/*--Desktop--*/
@media only screen and (min-width: 768px) {
	.d-flex {
		flex-wrap: nowrap;
	}
	header {
		width: 80%;
		flex-wrap: nowrap;
		/* justify-content: center; */
	}
	header > svg {
		width: 60px;
		height: 60px;
	}
	header .logo-col {
		width: 50%;
	}
	header .nav-col {
		width: 50%;
	}
	header .nav-col li:not(:first-child) {
  	display: inline-block;
	}
	header .nav-col li:first-child {
  	display: none;
	}
	header .logo-cont {
		width: 60px;
	}
	header > nav {
		width: 25%;
	}
	main {
		padding: 2em;
		width: 900px;
	}
	main .logo {
		width: 30%;
		margin: 0 auto;
	}
	main .work-item {
		display: flex;
		margin: 2em 0;
	}
	main .work-item .pic-col,
	main .work-item .text-col {
		width: 50%;
	}
	main .work-item .text-col {
		padding-left: 1em;
	}
	/*--About--*/
	.about-cont {
		display: flex;
		margin-top: 3em;
	}
	.img-col {
		width: 30%;
		margin-right: 1em;
	}
	.text-col {
		width: 70%;
		padding-left: 1.5em;
	}
	.skill {
		width: 50%;
	}
	.project-cont > .col {
		width: 25%;
	}
	.project-cont > .pic-item {
		width: 30%;
	}
	.project-cont > .col-half {
		width: 50%;
	}
	.col-half.item {
		padding-right: 1em;
	}
	.project-cont > .pic-item > a[data-fancybox] img {
  	cursor: zoom-in;
	}
	.fancybox__slide {
		flex-direction: column-reverse;
	}
	.fancybox__caption {
		padding: 0 0 1rem 0;
	}
